[submodule "adventofcode2017/d01/c/include/cutils"]
	path = adventofcode2017/d01/c/include/cutils
	url = https://github.com/jaemk/cutils
[submodule "adventofcode2017/cutils"]
	path = adventofcode2017/cutils
	url = https://github.com/jaemk/cutils
[submodule "adventofcode2017/c_includes/cutils"]
	path = adventofcode2017/c_includes/cutils
	url = https://github.com/jaemk/cutils
